@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");
.header {
  background-color: #e32636;
  padding: 10px 5px;
  position: relative;
}
.header-search {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 0 15px;
}
.header-search .bx {
  display: none;
  font-size: 3rem;
  color: white;
}
.header-search--input {
  width: 75%;
  max-width: 700px;
  padding: 3px 15px;
  border-radius: 50px;
  font-size: 1.5rem;
  border: none;
  margin: auto;
}
.header-search--input:focus-visible {
  outline: none;
}
.header-search--btn {
  display: none;
}
.header .resultsContainer {
  background-color: aliceblue;
  position: absolute;
  width: 100vw;
  max-width: 700px;
  margin: 0 auto;
  max-height: 100vh;
  overflow-y: scroll;
  top: 100%;
  left: 0%;
  right: 0%;
  z-index: 10000;
}
.header .resultsContainer .resultsItem {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 10px;
  padding: 10px;
  cursor: pointer;
}
.header .resultsContainer .resultsItem:hover {
  background-color: #bbbbbb;
}
.header .resultsContainer .resultsItem img {
  width: 150px;
  height: 100px;
  background-color: #bbbbbb;
}
.header .resultsContainer .resultsItem p {
  font-weight: bold;
  font-size: 1.5rem;
}

.loadScreenMovies--item {
  background-color: #bbbbbb;
  animation: loadAnimation 1.2s infinite;
}

.movie {
  position: relative;
}
.movie .bx {
  position: absolute;
  z-index: 100;
  bottom: 5%;
  right: 5%;
  font-size: 3rem;
  background-color: #ffffffbe;
  border-radius: 30px;
  padding: 5px;
}
.movie .bx:hover {
  cursor: pointer;
}
.movie .bxs-heart {
  color: #e32636;
  box-shadow: 0px 0px 20px 2px #ff4040;
}

.moviesSection,
.categoriesSection,
.sectionFavorites {
  padding-top: 10px;
}

.moviesSection h3,
.categoriesSection h3,
.sectionFavorites h3 {
  margin-left: 20px;
  font-size: 2.3rem;
}

.moviesSection .sectionMoviesHead {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.moviesSection .sectionMoviesHead .moreBtn {
  padding: 5px 10px;
  margin: 10px;
  background-color: #ff7676;
  border-radius: 50px;
  font-size: 1.6rem;
}
.moviesSection .sectionMoviesHead .moreBtn:hover {
  background-color: #ff4040;
  cursor: pointer;
}
.moviesSection .movies,
.moviesSection .sectionFavoritesDiv {
  display: flex;
  flex-wrap: nowrap;
  gap: 15px;
  overflow-x: scroll;
  padding: 0px 10px 10px;
}
.moviesSection .movies::-webkit-scrollbar,
.moviesSection .sectionFavoritesDiv::-webkit-scrollbar {
  height: 7px;
}
.moviesSection .movies::-webkit-scrollbar-thumb,
.moviesSection .sectionFavoritesDiv::-webkit-scrollbar-thumb {
  background: #9c9c9c;
  border-radius: 15px;
}
.moviesSection .movies::-webkit-scrollbar-corner,
.moviesSection .sectionFavoritesDiv::-webkit-scrollbar-corner {
  background: transparent;
}
.moviesSection .movies .movie img,
.moviesSection .sectionFavoritesDiv .movie img {
  border-radius: 15px;
  width: 170px;
  height: 250px;
}
.moviesSection .movies .movie img:hover,
.moviesSection .sectionFavoritesDiv .movie img:hover {
  cursor: pointer;
}

.sectionFavorites .sectionFavoritesDiv {
  display: flex;
  flex-wrap: nowrap;
  gap: 15px;
  overflow-x: scroll;
  padding: 0px 10px 10px;
}
.sectionFavorites .sectionFavoritesDiv::-webkit-scrollbar {
  height: 7px;
}
.sectionFavorites .sectionFavoritesDiv::-webkit-scrollbar-thumb {
  background: #9c9c9c;
  border-radius: 15px;
}
.sectionFavorites .sectionFavoritesDiv::-webkit-scrollbar-corner {
  background: transparent;
}
.sectionFavorites .sectionFavoritesDiv .movie img {
  border-radius: 15px;
  width: 170px;
  height: 250px;
}
.sectionFavorites .sectionFavoritesDiv .movie img:hover {
  cursor: pointer;
}
.sectionFavorites .favoritesEmpty {
  background-color: #d4d4d4;
  margin: 5px 5%;
  border-radius: 15px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  gap: 0;
  font-size: 1.5rem;
}
.sectionFavorites .favoritesEmpty::-webkit-scrollbar {
  display: none;
}
.sectionFavorites .favoritesEmpty .bx {
  color: #ff7676;
}
.sectionFavorites .favoritesEmpty p {
  color: #737373;
  font-weight: bold;
}

.categoriesSection .categories {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  padding: 10px;
  place-items: center;
}
.categoriesSection .categories .loadScreenCategory--item {
  min-height: 25px;
  min-width: 170px;
  margin: 10px;
  background-color: #bbbbbb;
  border-radius: 15px;
  animation: loadAnimation 1.5s infinite;
}
.categoriesSection .categories .loadScreenCategory--item:nth-child(even) {
  animation-delay: 0.5s;
}
.categoriesSection .categories .category {
  background-color: gainsboro;
  width: 65%;
  padding: 5px 0;
  text-align: center;
  border-radius: 15px;
  font-size: 1.5rem;
}
.categoriesSection .categories .category:hover {
  background-color: #adadad;
  cursor: pointer;
}

.movieRoot {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  padding: 3% 0 3% 5%;
  height: -webkit-fit-content;
  height: fit-content;
}
@media only screen and (max-width: 510px) {
  .movieRoot {
    grid-column: 1/2;
  }
}
@media only screen and (max-width: 702px) {
  .movieRoot {
    grid-template-columns: auto 1fr;
    padding: 0%;
  }
}
@media only screen and (max-width: 510px) {
  .movieRoot {
    padding: 0;
    grid-template-columns: 1fr;
  }
}
.movieRoot .movieLeft {
  grid-column: 1/2;
  grid-row: 2/4;
  place-self: center;
  display: flex;
}
@media only screen and (max-width: 702px) {
  .movieRoot .movieLeft {
    grid-column: 1/2;
    grid-row: 2/3;
    place-self: flex-start;
  }
}
@media only screen and (max-width: 510px) {
  .movieRoot .movieLeft {
    grid-column: 1/2;
    grid-row: 2/3;
  }
}
.movieRoot .movieLeft img {
  border-radius: 15px;
  width: 300px;
}
@media only screen and (max-width: 702px) {
  .movieRoot .movieLeft img {
    border-radius: 0;
    width: 260px;
  }
}
@media only screen and (max-width: 510px) {
  .movieRoot .movieLeft img {
    width: 100vw;
  }
}
.movieRoot .movieRight {
  grid-column: 2/3;
  grid-row: 2/3;
  padding: 0 5%;
}
@media only screen and (max-width: 768px) {
  .movieRoot .movieRight {
    text-align: center;
  }
}
@media only screen and (max-width: 510px) {
  .movieRoot .movieRight {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    grid-column: 1/2;
    padding: 10px;
    grid-row: 3/4;
  }
}
.movieRoot .movieRight .movieTitle {
  text-align: center;
  font-size: 2.3rem;
}
.movieRoot .movieRight .movieDate {
  text-align: center;
  font-size: 1.5rem;
}
.movieRoot .movieRight .movieOverview {
  font-size: 1.5rem;
}
.movieRoot .movieRight .bx {
  font-size: 1.6rem;
  font-weight: bold;
  margin: 0 5px;
}
.movieRoot .movieRight .bxs-star {
  color: #e4b600;
}
.movieRoot .movieCategoryList {
  grid-column: 2/3;
  grid-row: 3/4;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}
@media only screen and (max-width: 702px) {
  .movieRoot .movieCategoryList {
    grid-column: 1/3;
    grid-row: 3/4;
    margin: 10px 0;
  }
}
@media only screen and (max-width: 510px) {
  .movieRoot .movieCategoryList {
    grid-column: 1/2;
    grid-row: 4/5;
  }
}
.movieRoot .movieCategoryList .movieCategory {
  padding: 5px 10px;
  background-color: #C0C0C0;
  border-radius: 50px;
  min-width: -webkit-fit-content;
  min-width: fit-content;
  height: -webkit-fit-content;
  height: fit-content;
  font-size: 1.5rem;
}
.movieRoot .movieCategoryList .movieCategory:hover {
  background-color: #808080;
  cursor: pointer;
}
.movieRoot .movieBottom {
  grid-column: 1/3;
  grid-row: 4/5;
  height: -webkit-fit-content;
  height: fit-content;
  max-width: 100vw;
  margin: 20px -4.9vw 0 -5vw;
}
.movieRoot .movieBottom h3 {
  padding-left: 10px;
  font-size: 2.3rem;
}
@media only screen and (max-width: 702px) {
  .movieRoot .movieBottom {
    margin: 0%;
  }
}
@media only screen and (max-width: 510px) {
  .movieRoot .movieBottom {
    grid-column: 1/2;
    grid-row: 5/6;
    margin: 0%;
    width: 100vw;
  }
}
.movieRoot .movieBottom .similarItems {
  display: flex;
  flex-wrap: nowrap;
  gap: 5px;
  overflow-x: scroll;
}
.movieRoot .movieBottom .similarItems::-webkit-scrollbar {
  height: 7px;
}
.movieRoot .movieBottom .similarItems::-webkit-scrollbar-thumb {
  background: #9c9c9c;
  border-radius: 15px;
}
.movieRoot .movieBottom .similarItems::-webkit-scrollbar-corner {
  background: transparent;
}
.movieRoot .movieBottom .similarItems .movie {
  padding-left: 10px;
}
.movieRoot .movieBottom .similarItems .movie:hover {
  cursor: pointer;
}
.movieRoot .movieBottom .similarItems .movie img {
  width: 120px;
  min-height: 180px;
  border-radius: 15px;
}

.sectionCategory .sectionCategoryHead {
  display: flex;
  justify-content: center;
  background-color: rgba(69, 69, 69, 0.576);
  position: sticky;
  top: 0;
  z-index: 10;
}
.sectionCategory .sectionCategoryHead .bx {
  color: white;
  font-size: 3rem;
  padding: 5px 15px;
}
.sectionCategory .sectionCategoryHead .sectionCategoryTitle {
  color: white;
  font-weight: bold;
  font-size: 2.3rem;
}
.sectionCategory .sectionCategoryDiv {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
}
.sectionCategory .sectionCategoryDiv .movie {
  width: 180px;
}
.sectionCategory .sectionCategoryDiv .movie img {
  height: inherit;
  width: inherit;
  border-radius: 15px;
}
.sectionCategory .sectionCategoryDiv .movie img:hover {
  cursor: pointer;
}

.pageTrends {
  display: flex;
  flex-direction: column;
  position: relative;
}
.pageTrendsHead {
  display: flex;
  justify-content: center;
  background-color: rgba(69, 69, 69, 0.576);
  position: sticky;
  top: 0;
  color: white;
  font-weight: bold;
  font-size: 2.3rem;
  z-index: 1000;
}
.pageTrendsDiv {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  padding: 10px;
}
.pageTrendsDiv .movie {
  width: 180px;
  height: 270px;
}
.pageTrendsDiv .movie img {
  width: inherit;
  height: inherit;
  border-radius: 15px;
}
.pageTrendsDiv .movie img:hover {
  cursor: pointer;
}

* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  overflow-x: hidden;
}
html::-webkit-scrollbar {
  width: 7px;
  background-color: #e9e9e9;
}
html::-webkit-scrollbar-thumb {
  background: #9c9c9c;
  border-radius: 15px;
}
html::-webkit-scrollbar-corner {
  background: transparent;
}

main {
  min-height: 100vh;
  background-color: #e9e9e9;
}
main .bx-chevron-up {
  display: none;
  position: fixed;
  top: 80%;
  right: 10px;
  background-color: #e32636;
  border-radius: 50px;
  z-index: 1000;
  font-size: 5rem;
}

@keyframes loadAnimation {
  0%, 100% {
    opacity: 100%;
  }
  50% {
    opacity: 0%;
  }
}
footer {
  background-color: #e32636;
  padding: 5px;
  display: flex;
  justify-content: center;
}
footer p {
  font-size: 1.5rem;
}
footer p a {
  color: #1e90ff;
}